.sign-in{ 
    padding: 150px 0;
    background-color: var(--main-color-alt2);
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .sign-in .nav-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 15px 0;
    width: 100%;
  }
  .sign-in .nav-info .nav-path i {
    font-size: 22px;
    margin-right: 10px;
    color: var(--main-color-alt);
  }
  .sign-in .nav-info  .nav-path span {
    font-size: 20px;
    cursor: auto;
    font-weight: 600;
  }
  .sign-in .nav-info a {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    text-decoration: underline !important;
  }
  .sign-in .lamar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
  
  }
  @media(max-width:767px){
    .sign-in .lamar-container{
        width: 100%;
    }
 }

 .sign-in .lamar-container h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: black;
  position: relative;
  }
  .sign-in .lamar-container h2::before{
    content: "";
    position: absolute;
    height: 5px;
    width: 60px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color-alt);
    border-radius: 20px;
  }

  .sign-in .lamar-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:35px;
  }
  @media (max-width:767px){
    .sign-in .lamar-container form{
        width:90%;
    }
  }
 
  .sign-in .lamar-container .input-user , .sign-in .lamar-container .input-pass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .sign-in .lamar-container input {
        border: none;
      outline: none;
      height: 30px;
      width:200px;
      border-bottom: 1px solid;
      background: transparent;
      font-size: 16px;
      flex:1
  }
  
  
  .sign-in .lamar-container input:-webkit-autofill,
  .sign-in .lamar-container input:-webkit-autofill:hover, 
  .sign-in .lamar-container input:-webkit-autofill:focus, 
  .sign-in .lamar-container input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px var(--main-color-alt2) inset !important;
  }
  
  @-webkit-keyframes autofill {
      0%,100% {
          color: #666;
          background: transparent;
      }
  }
  
  .sign-in .lamar-container input:-webkit-autofill {
      -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
  }
  
  .sign-in .lamar-container input::placeholder{
    transition: 0.3s;
    background: transparent;
    text-transform: capitalize;
    color: black;
  }
  .sign-in .lamar-container input:focus::placeholder{
  opacity: 0;
  }
  .sign-in .lamar-container i {
    font-size: 30px;
    color: var(--main-color-alt);
  }
  .sign-in .lamar-container .submit{
    width: 100%;
    background-color: whitesmoke;
    border: none;
    color: black;
    font-size: 20px;
    box-shadow: 0 2px 12px rgb(0,0,0,0.3);
    cursor: pointer;
    transition:transform 0.3s ,box-shadow 0.3s;
    height: 40px;
  }
  .sign-in .lamar-container .submit:hover{
      background-color: var(--main-color-alt);
      box-shadow: 0 2px 12px rgb(0,0,0,0.5);
      font-size: 22px;
      font-weight: 600;
      transform: translateY(-3px);
  }
  