.sign-up {
  padding: 220px 0 100px;
  background-color: var(--main-color-alt);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 530px) {
  .sign-up {
    padding: 125px 0;
  }
}
@media (min-width: 530px) and (max-width:767px) {
  .sign-up {
    padding: 145px 0;
  }
}
.sign-up .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.sign-up .nav-info i {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}

.sign-up .left-nav .i-home {
  font-size: 18px;
  color: black;
  font-weight: 600;

} 
.sign-up .nav-info span{
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

}
.sign-up .nav-info .exat-path{
  text-decoration: underline ;
}

.sign-up .lamar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up .lamar-container h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: black;
  position: relative;
}
.sign-up .lamar-container h2::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 20px;
}

@media(max-width:767px){
  .sign-up .lamar-container h2 {
      font-size: 20px;
    }
    }
.sign-up .lamar-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

@media (max-width: 767px) {
  .sign-up .lamar-container form {
    width: 90%;
  }
}
.sign-up .lamar-container form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.sign-up .lamar-container form > div > input {
  flex: 1;
}
.sign-up .lamar-container .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  width: 100%;
}
@media (max-width: 767px) {
  .sign-up .lamar-container .name {
    flex-wrap: wrap;
  }
}
.sign-up .lamar-container .name > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.sign-up .lamar-container .name > div > input {
  flex: 1;
}
.sign-up .lamar-container input {
  border: none;
  outline: none;
  height: 30px;
  width: 200px;
  border-bottom: 1px solid;
  background: transparent;
  font-size: 16px;
}
.sign-up .lamar-container input:-webkit-autofill,
.sign-up .lamar-container input:-webkit-autofill:hover,
.sign-up .lamar-container input:-webkit-autofill:focus,
.sign-up .lamar-container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--main-color-alt2) inset !important;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

.sign-up .lamar-container input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.sign-up .lamar-container input::placeholder {
  transition: 0.3s;
  background: transparent;
  text-transform: capitalize;
  color: black;
}
.sign-up .lamar-container input:focus::placeholder {
  opacity: 0;
}
.sign-up .lamar-container i {
  font-size: 30px;
  color: black;
}
.sign-up .lamar-container .submit {
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  border: none;
  color: black;
  font-size: 20px;
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.sign-up .lamar-container .submit.disabled {

  color: rgba(128, 128, 128, 0.308);

  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.3);
  cursor:not-allowed;
}
.sign-up .lamar-container .submit:hover {
  background-color: var(--main-color-alt);
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 600;
  transform: translateY(-3px);
}
.sign-up .lamar-container .submit.disabled:hover {
  background-color: var(--main-color-alt);
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: normal;
  transform: translateY(0);
}

.loading-state-container-signup{
  position: absolute;
  width: 100%;
  transform: translateX(50%);
  right: 50%;
  top: 64%;

}

.sign-up .lamar-container .verification-section {
  width: 100%;
}

.sign-up .lamar-container .verification-section .verif-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.sign-up .lamar-container .verification-section .verif-box input{
  width: 100%
}
.sign-up .lamar-container .verification-section .verif-box button{
  width: 30%
}
