.sign-up{
    padding: 150px 0 ; 
    width: 100%;
    background-color: var(--main-color-alt2);
    display: flex;
    flex-direction: column;
    
  }
  @media(max-width:530px){
    .sign-up{
      padding: 130px 0 ; 
    }
  }
  .sign-up .nav-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 15px 0;
    width: 100%;
  }
  .sign-up .nav-info .nav-path i {
    font-size: 22px;
    margin-right: 10px;
    color: var(--main-color-alt);
  }
  .sign-up .nav-info  .nav-path span {
    font-size: 20px;
    cursor: auto;
    font-weight: 600;
  }
  
  .sign-up .nav-info a {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    text-decoration: underline !important;
  }
 
  .sign-up .lamar-container{
    padding: 0 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 @media(max-width:767px){
    .sign-up .lamar-container{
        width: 100%;
    }
 }
  .sign-up  .lamar-container h2{
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      color: black;
    position: relative;
    }
   .sign-up  .lamar-container h2::before{
      content: "";
      position: absolute;
      height: 5px;
      width: 60px;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: var(--main-color-alt);
      border-radius: 20px;
    }
  .sign-up .lamar-container form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  }
  @media (max-width:767px){
    .sign-up .lamar-container form{
        width:90%;
    }
  }
  .sign-up .lamar-container form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%
  }
  .sign-up .lamar-container form > div > input{
  flex: 1
  }
  .sign-up .lamar-container .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    width: 100%;
  }
  @media(max-width:767px){
    .sign-up .lamar-container .name{
flex-wrap: wrap;
    }
  }
  .sign-up .lamar-container .name > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width:100%;
  }
  .sign-up .lamar-container .name > div > input{
    flex: 1
  }
  .sign-up .lamar-container input{
    border: none;
        outline: none;
        height: 30px;
        width: 200px;
        border-bottom: 1px solid;
        background: transparent;
        font-size: 16px
  }
    .sign-up .lamar-container input:-webkit-autofill,
    .sign-up .lamar-container input:-webkit-autofill:hover, 
    .sign-up .lamar-container input:-webkit-autofill:focus, 
    .sign-up .lamar-container input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px var(--main-color-alt2) inset !important;
    }
    
    @-webkit-keyframes autofill {
        0%,100% {
            color: #666;
            background: transparent;
        }
    }
    
    .sign-up .lamar-container input:-webkit-autofill {
        -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
  
    .sign-up .lamar-container input::placeholder{
      transition: 0.3s;
      background: transparent;
      text-transform: capitalize;
      color: black;
    }
    .sign-up .lamar-container input:focus::placeholder{
    opacity: 0;
    }
    .sign-up .lamar-container i {
      font-size: 30px;
     color: var(--main-color-alt);
    }
  .sign-up .lamar-container .submit{
     width: 100%;
      height: 50px;
      background-color: whitesmoke;
      border: none;
      color: black;
      font-size: 20px;
      box-shadow: 0 2px 12px rgb(0,0,0,0.3);
      cursor: pointer;
      transition:transform 0.3s ,box-shadow 0.3s;
  }
  .sign-up .lamar-container .submit:hover{
   background-color: var(--main-color-alt);
        box-shadow: 0 2px 12px rgb(0,0,0,0.5);
        font-size: 22px;
        font-weight: 600;
        transform: translateY(-3px);
  }