.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.hero .carousel {
  /* height: 100vh;
  height: 100%; */
  /* height: 1920px; */
}

.hero .carousel .carouselItem {
  height: 100vh;
  /* height: 1920px; */
  background-color: gray;
}

.hero .carousel .carouselItem .d-block {
  /* height: 650px; */
  height: 100%;
  width: 100%;
  /* object-fit:/ */
}
