.shop {
  background-color: var(--main-color-alt2);
  padding-top: 100px;
  padding-bottom: 100px;
  height: 700px;
}
.shop .lamar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.shop .leftSection {
  width: 50%;
  position: relative;
}
.shop .rightSection {
  position: relative;
  flex: 1;
  height: 500px;

}

.shop .shopImg {
  border-right: 5px solid var(--main-color-alt);
  border-bottom: 5px solid var(--main-color-alt);
  width: 250px;
}

.shop .rightSection .image1 {
  height: 300px;
  position: absolute;
  top: -60px;
  left: 15px;
}
.shop .rightSection .image1 img {
height: 100%;
width: 100%;
object-fit: cover;

}

.shop  .rightSection .image2 {
  height: 320px;
  position: absolute;
  top: -10px;
  right: 35px;
  width: 280px;
}
.shop  .rightSection .image2  img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shop  .rightSection  .image3 {
  height: 320px;
  width: 280px;
  position: absolute;
  bottom: 10px;
  left: -10px;
  
}
.shop  .rightSection  .image3 img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.shop  .rightSection .image4 {
  height: 300px;
  position: absolute;
  bottom: -42px;
  right: 65px;
}
.shop  .rightSection .image4 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shop .text {
  margin-bottom: 1rem;
  font-weight: lighter;
}
