/* start section empty cart */

.cart-empty {
  padding: 220px 0 100px;
  background-color: var(--main-color-alt);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 530px) {
  .cart-empty {
    padding: 125px 0;
  }
}
@media (min-width: 530px) and (max-width:767px) {
  .cart-empty {
    padding: 145px 0;
  }
}
.cart-empty .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.cart-empty .nav-info i {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}

.cart-empty .left-nav .i-home {
  font-size: 18px;
  color: black;
  font-weight: 600;

} 
.cart-empty .nav-info span{
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

}

.cart-empty .cart-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.cart-empty .cart-container p {
  margin: auto;
}
.cart-empty .cart-container a {
  color: black;
  font-weight: 500;
  transition: 0.3s;
}
.cart-empty .cart-container a:hover {
  text-decoration: underline !important;
}
/* end section empty cart */

/* start Section cart fill */
.cart-lamar {
  padding: 220px 0 100px;
  background-color: var(--main-color-alt);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 530px) {
  .cart-lamar {
    padding: 125px 0;
  }
}
@media (min-width: 530px) and (max-width:767px) {
  .cart-lamar {
    padding: 145px 0;
  }
}
.cart-lamar .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.cart-lamar .nav-info i {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}

.cart-lamar .left-nav .i-home {
  font-size: 18px;
  color: black;
  font-weight: 600;

} 
.cart-lamar .nav-info span{
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

}
.cart-lamar .nav-info .exat-path{
  text-decoration: underline ;
}
.cart-lamar .lamar-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media(max-width:767px){
  .cart-lamar .lamar-container{
 flex-wrap: wrap-reverse;
  }
}
.cart-lamar  .lamar-container .cart-table{
 width: 70% !important;
}

@media(max-width:767px){
  .cart-lamar  .lamar-container .cart-table{
    width: 100% !important;
    margin: 0 auto;

  }
}
.cart-lamar .cart-table .cart-table-head-r {
  padding: 0 5px;
  width: 100% !important;
}
.cart-lamar .cart-table .cart-table-head-r > th {
  border-bottom: 1px solid black;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
}
@media (max-width: 530px) {
  .cart-lamar .cart-table .cart-table-head-r > th {
    padding: 10px 0px;
  }
}
.cart-lamar .cart-table .cart-table-body-r > td {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px 15px 30px;
}
@media (max-width: 530px) {
  .cart-lamar .cart-table .cart-table-body-r > td {
    padding: 10px 10px 30px;
  }
}

.cart-lamar .cart-table-head-r .col1,
.cart-lamar .cart-table-body-r .col1 {
  width: 40%;
  text-align: left !important;
}
.cart-lamar .cart-table-head-r .col2,
.cart-lamar .cart-table-body-r .col2 {
  width: 20%;
}
.cart-lamar .cart-table-head-r .col3,
.cart-lamar .cart-table-body-r .col3 {
  width: 20%;
}
.cart-lamar .cart-table-head-r .col4,
.cart-lamar .cart-table-body-r .col4 {
  width: 20%;
}

.cart-lamar .cart-table-body-r .info {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 530px) {
  .cart-lamar .cart-table-body-r .info {
    flex-direction: column;
    gap: 5px;
  }
}
.cart-lamar .cart-table-body-r .info .image {
  width: 160px;
  height: 130px;
  padding: 3px;
  background-color: black;
}

@media (max-width: 530px) {
  .cart-lamar .cart-table-body-r .info .image {
    width: 80px;
    height: 95px;
  }
}
.cart-lamar .cart-table-body-r .info .image img {
  width: 100%;
  height: 100%;
  object-fit: 100% auto;
}
.cart-lamar .cart-table-body-r .info .info-shop h4 {
  margin: 5px auto;
  text-transform: capitalize;
}
.cart-lamar .cart-table-body-r .info .info-shop p {
  margin: 0 auto;
  padding: 0;
  color: var(--text-color);
}
.cart-lamar .cart-table-body-r .info .info-shop p span {
  font-weight: 500;
  color: black;
}
.cart-lamar .cart-table-body-r .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  flex-direction: row;
}
.cart-lamar .cart-table-body-r .quantity .quantity-q {
  width: 30px;
  background-color: white;
  padding: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.cart-lamar .cart-table-body-r .quantity > div > i {
  cursor: pointer;
  font-size: 18px;
  color: black;
}
.cart-lamar .cart-table-body-r .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cart-lamar .cart-table-body-r .actions i {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.cart-lamar .lamar-container .summary{
  flex: 1;
  border: 0.5px solid;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  background-color: white;
}

.cart-lamar .lamar-container .summary > h3{
  font-size:20px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
.cart-lamar .lamar-container .summary hr {
  margin: 0 ;
}
.cart-lamar .lamar-container .summary .sub-total ,.order-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}
.cart-lamar .lamar-container .summary .sub-total h4 , h5{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
}
.cart-lamar .lamar-container .summary .sub-total h5{
  color: black;
}

.cart-lamar .lamar-container .summary .order-total .order-total-h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  color: black;

}
.cart-lamar .lamar-container .summary a{
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}
/* end Section cart fill */
