/* start hero */
.hero {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
  padding-top: 12rem;
  background-color: var(--main-color-alt2);
}
@media (max-width: 530px) {
  .hero {
    padding-top: 6rem;
  }
}
@media (min-width: 531px) and (max-width: 768px) {
  .hero {
    padding-top: 8rem;
    height: 100vh;
  }
}
.hero .lamar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* background-color: #ccc */
}
@media (max-width: 768px) {
  .hero .lamar-container {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    align-items: unset;
    padding-bottom: 10px;
    gap: 10px;
  }
}
.hero .info {
  display: flex;
  gap: 25px;
  flex-direction: column;
  width: 50%;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .hero .info {
    height: 50%;
    width: 100%;
  }
}

.hero .info .top-info {
  position: relative;
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.hero .info .top-info::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--main-color-alt3),
    var(--main-color-alt2)
  );
}
.hero .info .top-info h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  max-width:70%;
  color: var(--main-color-alt3);
}
.hero .info .top-info h5 {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .hero .info .top-info h3 {
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
    width: 100%;
  }
  .hero .info .top-info h5 {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
  }
}
.hero .info .bottom-info {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.hero .info .bottom-info h6 {
  font-size: 18px;
  font-weight: 500;
}
.hero .info .bottom-info a {
  width: fit-content;
  min-width: 150px;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    /* var(--main-color-alt3), */
    #cabfaba1,
    var(--main-color-alt2)

  );
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  color: var(--main-color-alt3);
  transition: 0.3s;
  cursor: pointer;
}

.hero .info .bottom-info a:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}
.hero .imag-detail {
  height: 100%;
  position: relative;
  width: 50%;
}
@media (max-width: 768px) {
  .hero .imag-detail {
    width: 100%;
    height: 50%;
  }
}
.hero .imag-detail .image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.hero .imag-detail .image img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 45%;
}

@media (max-width: 530px) {
  .hero .imag-detail .image img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 45%;
  }
}

@media (min-width:531px) and (max-width: 768px) {
  .hero .imag-detail .image img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: 50% 45%;
  }
}

.hero .imag-detail .add-cart {
  position: absolute;
  width: 100%;
  height: 300px;
  background-image: linear-gradient( to right, var(--main-color-alt3), var(--main-color-alt2) );
  top: 60px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .hero .imag-detail .add-cart {
    height: 180px;
    left: 100px;
  }
}
.hero .imag-detail .add-cart a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--main-color-alt3);
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.hero .imag-detail .add-cart a .plus-container {
  border: 2.5px solid var(--main-color-alt3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: var(--main-color-alt3);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.hero .imag-detail .add-cart a h6{
  font-size: 18px;
  max-width: 35%;

}
.hero .imag-detail .add-cart a i {
  transition: 0.3s;
  animation: forwad linear infinite 1.5s;
  position: absolute
}
@keyframes forwad {
  0%{
    left: 0;

  }
  50% {
    left: 25px;

  }
  100%{
    left: 0;
  }
}

.hero .sub-title{
color: var(--text-color);
}

