/* Start  gloabal role */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Bebas+Neue&family=Berkshire+Swash&family=Cairo:wght@200;300;400;500;600;700;800;900&family=Grenze:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,500;1,600&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
  margin: 0;
  padding: 0;
/* this to remove highlight blue color when clicking buttons */
  -webkit-tap-highlight-color: transparent; 
  /* this for Safari */
  outline: none;
}
:root {
  --main-color-alt: #cabfab42;
  --main-color-alt2: #FAF9F0;
  --main-color-alt3: #CABFAB;
  --text-color: #666;
  --main-transition: 0.5s;
  --main-padding-top: 80px;
  --main-padding-bottom: 80px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-color-alt2) !important;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.lamar-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.nav-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--main-color-alt);
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: var(--main-color-alt) 1px solid;
  font-weight: bold;
  width: 160px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 2px 12px rgb(0 0 0 / 30%);
  transition: var(--main-transition);
}

.go-up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 25% 50%;
  cursor: pointer;
  transition: 1s;
  border: 1px solid var(--main-color);
  z-index: 3;
  cursor: pointer;
  animation: zz 1s linear infinite;
}

.go-up i {
  font-size: 30px;
  color:  var(--main-color-alt2);
  cursor: pointer;
}
.go-up:hover {
  background-color: var(--main-color-alt2);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}
.go-up:hover i {
  color: black;
}
@keyframes zz{
  0% ,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }

}
/*  start main title  */

.title-section {
  text-align: center;
  margin: 0px auto 60px;
  padding: 0 15px;
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 30px;
  border: 3px solid var(--main-color-alt3);
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  background-color: var(--main-color-alt);
  color: var(--main-color-alt3);
}
.main-title::before,
.main-title::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--main-color-alt3);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  background-color: var(--main-color-alt3);
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  background-color: var(--main-color-alt3);
}
.main-title:hover {
  color: var(--main-color-alt2);
  border: 2px solid var(--main-color-alt2);
  transition-delay: 0.5s;
  cursor: default;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

.title-section p {
  color: var(--main-color-alt3);
  font-size: 22px;
  margin: 5px auto;
}

.text-danger {
  color: red;
}

tooltip {
  font-size: small;
  color: red;
}

/*  end main title  */

@media (max-width: 768px) {
  .title-section p {
    color: #666;
    font-size: 16px;
    margin: 5px auto;
  }
  .lamar-container ,.nav-container {
    width: 100%;
  }
}
/* Small */
@media (min-width: 768px) {
  .lamar-container ,.nav-container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .lamar-container ,.nav-container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .lamar-container ,.nav-container{
    width: 1170px;
  }
}

/* End gloabal role */
