.pending-orders {
  min-height: 100vh;
  background-color: var(--main-color-alt);
  padding: 220px 0 100px;
}

@media (max-width: 991px) {
  .pending-orders {
    padding-top: 190px;
  }
}
@media (max-width: 768px) {
  .pending-orders {
    padding-top: 160px;
  }
}
@media (max-width: 530px) {
  .pending-orders {
    padding-top: 130px;
  }
}

/* nav styling */

.pending-orders .nav-container {
  padding-bottom: 1rem;
}
.pending-orders .left-nav .i-home {
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.pending-orders .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.pending-orders .nav-info i {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}
.pending-orders .i-admin {
  text-decoration: underline;
}
.pending-orders .nav-info span {
  color: black;
  font-size: 18px;
  font-weight: 600;
  /* text-transform: capitalize; */
  margin-right: 10px;
}

/* finish nav styling */

.pending-orders .pageIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid;
}
.pending-orders .pageIntro .total-number span {
  color: rgb(238, 161, 20);
  font-size: 22px;
}
@media (max-width: 530px) {
  .pending-orders .pageIntro .intro {
    display: none;
  }
}
.pending-orders .bigContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 15px;
}
