.pending-orders {
  padding: 220px 0 100px;
  background-color: var(--main-color-alt);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* @media (max-width: 991px) {
  .pending-orders {
    padding-top: 190px;
  }
}
@media (max-width: 768px) {
  .pending-orders {
    padding-top: 160px;
  }
}
@media (max-width: 530px) {
  .pending-orders {
    padding-top: 130px;
  }
} */



@media (max-width: 530px) {
  .pending-orders{
    padding: 125px 0;
  }
}
@media (min-width: 530px) and (max-width:767px) {
  .pending-orders {
    padding: 145px 0;
  }
}
/* nav styling */

.pending-orders .nav-container {
  padding-bottom: 1rem;
}
.pending-orders .left-nav .i-home {
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.pending-orders .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.pending-orders .nav-info i {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}

.pending-orders .nav-info span {
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.pending-orders .nav-info .exat-path{
  text-decoration: underline !important;
  color: black;
}

/* finish nav styling */

.pending-orders .container-admin-hero .admin-hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending-orders .container-admin-hero .admin-hero h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: black;
  position: relative;
  text-align: center;
}
.pending-orders .container-admin-hero .admin-hero h4::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 20px;
}


.pending-orders .lamar-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pending-orders .pageIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid;
}
.pending-orders .pageIntro .total-number span {
  color: rgb(238, 161, 20);
  font-size: 22px;
}
@media (max-width: 530px) {
  .pending-orders .pageIntro .intro {
    display: none;
  }
}
.pending-orders .bigContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 15px;
}
