/* abayas */
.abaya {
  padding: 220px 0 100px;
  background-color: var(--main-color-alt);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 530px) {
  .abaya{
    padding: 125px 0;
  }
}
@media (min-width: 530px) and (max-width:767px) {
  .abaya {
    padding: 145px 0;
  }
}
.abaya .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.abaya .nav-info i {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}

.abaya .left-nav .i-home {
  font-size: 18px;
  color: black;
  font-weight: 600;

} 
.abaya .nav-info span{
  color: black;
  font-size: 18px;
  font-weight: 600;
  /* text-transform: capitalize; */
  margin-right: 10px;
}
/* abayas */
/* abayas-hero */
.container-abaya-hero .abaya-hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-abaya-hero .abaya-hero h4{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: black;
  position: relative;
  text-align: center;
}
.container-abaya-hero .abaya-hero h4::before{
  content: '';
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 20px;
}

@media(max-width:767px){
.container-abaya-hero .abaya-hero h4{
  font-size: 20px;
}
}
/* abayas-hero */



/* ===========  start Abay cards =========*/
.abaya-cards {
  background-color: var(--main-color-alt);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.abaya-cards .nav-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.abaya-cards .nav-info .left-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  z-index: 2;
}
@media (max-width: 530px) {
  .abaya-cards .nav-info .left-info {
    gap: 15px;
    width: 100%;
  }
}
.abaya-cards .nav-info .left-info .show-item {
  width: 120px;
  height: 40px;
  background-color: var(--main-color-alt);
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 5px;
}
@media (max-width: 530px) {
  .abaya-cards .nav-info .left-info .show-item {
    width: 40%;
  }
}
.abaya-cards .nav-info .left-info .sort-item {
  width: fit-content;
  height: 40px;
  background-color: var(--main-color-alt);
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 5px;
}

@media (max-width: 530px) {
  .abaya-cards .nav-info .left-info .sort-item {
    width: 60%;
  }
}
.abaya-cards .nav-info .left-info label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.abaya-cards .nav-info .left-info select {
  border: none;
  outline: none;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
  background-color: var(--main-color-alt);
}

@media (max-width: 530px) {
  .abaya-cards .nav-info .left-info label {
    font-size: 14px;
  }
  .abaya-cards .nav-info .left-info select {
    width: 50%;
  }
}
.abaya-cards .phone-filters {
  width: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.abaya-cards .phone-filters .fa-sliders-h {
  font-size: 30px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .abaya-cards .phone-filters {
    display: none;
  }
}
.abaya-cards .lamar-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  row-gap: 60px;
}
@media (max-width: 530px) {
  .abaya-cards .lamar-container {
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 20px;
    row-gap: 50px;
  }
}
.abaya-cards .pagaination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.abaya-cards .pagaination nav ul > li > button {
  transition: box-shadow 0.3s;
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.4);
}

.abaya-cards .box {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: transform 0.5s;
}
@media (max-width: 530px) {
  .abaya-cards .box {
    height: 280px;
  }
}

.abaya-cards .box .over-view {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  visibility: hidden;
  transition: 0.1s;
}
.abaya-cards .box:hover .over-view {
  visibility: visible;
}
.abaya-cards .box .over-view > div {
  width: 100%;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color-alt2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.abaya-cards .box .over-view > div:hover {
  transform: translateY(-5px);
  background-color: black;
  color: var(--main-color-alt);
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.4);
}
.abaya-cards .box .over-view > div i {
  cursor: pointer;
  color: black;
}
.abaya-cards .box .over-view > div:hover i {
  color: var(--main-color-alt2);
}

.abaya-cards .box .over-view.to-cart {
  position: absolute;
  right: 10px;
  top: 50px;
}
.abaya-cards .box .over-view.edit {
  position: absolute;
  top: 50px;
  left: 10px;
}
.abaya-cards .box .over-view.delete {
  position: absolute;
  top: 10px;
  left: 10px;
}
.abaya-cards .image {
  width: 100%;
  height: 320px;
  z-index: 1;
  margin-bottom: 12px;
  position: relative;
}
@media (max-width: 530px) {
  .abaya-cards .image {
    height: 220px;
  }
}
.abaya-cards .image img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  object-fit: cover;
}
.abaya-cards .box .overlay {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: black;
  bottom: 0px;
  left: 0;
  z-index: 3;
  visibility: hidden;
  box-shadow: 4px 10px 12px rgb(0, 0, 0, 0.3);
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
  opacity: 0.9;
}
.abaya-cards .box:hover .overlay {
  visibility: visible;
}
.abaya-cards .box .overlay:hover {
  background-color: whitesmoke;
}
.abaya-cards .box .overlay h3 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  height: 50px;
  font-size: 20px;
  color: whitesmoke;
}
.abaya-cards .box .overlay h3 i {
  font-size: 18px;
}
.abaya-cards .box .overlay:hover h3 {
  color: black;
}
.abaya-cards .box .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;

}
.abaya-cards .box .info h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
  text-transform: capitalize;
}
.abaya-cards .box .info h2 {
  font-size: 20px;
  width: 100% !important;
  font-weight: 500;
  margin: 5px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.abaya-cards .box .info h2 .first-price{
  opacity: 0.8;
  text-decoration: line-through red 2px;
  font-size: 16px;
}
/* vertical filter css */

.abaya-cards .vertical-filter-hidden {
  display: none;
}

.abaya-cards .vertical-filter {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
}
.abaya-cards .filter-container {
  position: relative;
  top: 50px;
  z-index: 2;
  height: 450px;
  overflow: hidden;
}

#abaya{
  min-height: 250px;
}