.abaya {
  background-color: var(--main-color-alt2);
}
.abaya .lamar-container {
  display: grid;
  grid-template-columns: 100% 20%;
  height: fit-content;
}
@media (max-width: 530px) {
  .abaya .lamar-container {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .abaya .lamar-container {
    grid-template-columns: 100% 0%;
  }
  .abaya .lamar-container .web-filter {
    display: none;
  }
}
