.abaya-filter {
  background-color: var(--main-color-alt);
  height: 600px;
  position: sticky;
  top: 110px;
  padding: 15px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}
.phone-filters-hidden {
  /* display: none; */
}
/* very small */
@media (max-width: 768px) {
  .abaya-filter {
    /* display: none; */
  }
}
/* Small */
@media (min-width: 768px) and (max-width: 810px) {
  .abaya-filter {
    gap: 5px;
  }
  .phone-filters {
    display: none;
  }
}
/* Medium */
@media (min-width: 992px) {
}
/* Large */
@media (min-width: 1200px) {
}
.abaya-filter .container {
  display: flex;
  flex-direction: column;
}

.abaya-filter .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.abaya-filter .color-filter-hidden {
  display: none;
}
.abaya-filter .price-filter-hidden {
  display: none;
}
.abaya-filter .size-filter-hidden {
  display: none;
}

.abaya-filter .color-filter {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
  padding-top: 20px;
}

.abaya-filter .price-filter {
  height: 100px;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}
.abaya-filter .size-filter {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 25px;
}

/* Medium */
@media (min-width: 768px) and (max-width: 1149px) {
  .abaya-filter .color-filter {
    gap: 5px;
    row-gap: 5px;
    padding-top: 0;
  }
  .abaya-filter .price-filter {
    padding-top: 0;
    height: fit-content;
  }
  .abaya-filter .size-filter {
    padding-top: 5px;
    height: fit-content;
    gap: 5px;
  }
}
.abaya-filter .fas {
  cursor: pointer;
}

/* color boxes */

.abaya-filter .color-box {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/* size boxes */
.abaya-filter .size-box {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(156, 156, 156);
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
}

/* Small */
@media (min-width: 768px) and (max-width: 810px) {
  .abaya-filter .size-box {
    height: 20px;
    width: 20px;
  }
  .abaya-filter .size-filter {
    padding-top: 2px;
    gap: 5px;
  }
}

/* price slider */
.abaya-filter .price-range {
  text-align: center;
  color: purple;
  margin-bottom: 0;
}

.abaya-filter .h-r {
  height: 1px;
  color: red;
  background-color: royalblue;
  width: 100%;
}
